<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>快速入门</title>
		<script src="js/vuejs-2.5.16.js"></script>
	</head>

	<body>
		<!--创建一个vue可以管理的div区域-->
		<div id="app">
			<!--v-model 双向绑定。可以给html赋值，也可以用html的值来修改vue的数据-->
			用户名：<input type="text" v-model="uname"/>
			年龄:<input type="text" v-model="age"/>
			<input type="button" value="提交" @click="fun1();" /></br>
			<hr />
			
			用户名：<input type="text" v-model="person.uname"/>
			年龄:<input type="text" v-model="person.age"/>
			<input type="button" value="提交" @click="fun2();" />
		</div>
	</body>

</html>

<script>
	new Vue({
		//挂载 ,和jquery中的选择器是一个意思
		el: "#app",
		data: {
			//声名vue对象的数据变量
			uname:"jack",
			age:20,
			person:{uname:"jack",age:20}
		},
		methods: {
			//声明vue的方法
			fun1:function(){
				alert(this.uname+'----'+this.age);
			},
			fun2:function(){
				alert(this.person.uname+'----'+this.person.age);
				person
			}
		}
	})
</script>